<style>
  .container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
</style>

<div class="container">
  <label>Olá <strong>{{name}}</strong>! Parece que se esqueceu da sua password...</label>

  <h3>Poderá alterar a sua password no Calistenia Portugal com o seguinte código</h3>
  <br />
  <strong>{{code}}</strong>
</div>