<style>
  .container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
</style>

<div class="container">
  <label>Olá <strong>{{name}}</strong>! Tudo bem?</label>

  <h3>Verifique a sua nova conta do Calistenia Portugal</h3>
  <br />
  <h4>Código de verificação:</h4>
  <br />
  <strong>{{code}}</strong>
</div>